<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Name:</label>
      <input type="text" formControlName="name">
      <div class="error-message">{{ nameError }}</div>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
      <div class="error-message">{{ emailError }}</div>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password">
      <div class="error-message">{{ passwordError }}</div>
    </div>
    <button type="submit">Register</button>
  </form>